<div class="cart-container">
  <div *ngIf="items.length > 0" class="cart-panel">
    <div>
      <h4>Order Total: ${{ cartTotal }}</h4>
    </div>
    <br />
    <hr />
    <br />
    <ul *ngFor="let item of items">
      <app-cart-item
        [item]="item"
        [quantity]="item.quantity"
        (emitUpdatedCartItem)="updateCart($event)"
      ></app-cart-item>
    </ul>
  </div>
  <div *ngIf="items.length === 0" class="cart-panel">
    <h3>There are no items in the cart yet...</h3>
  </div>
  <div>
    <form #form="ngForm" class="form-margin" (ngSubmit)="onSubmit()">
      <p>Name:</p>
      <p
        *ngIf="username.length < 6 && username.length > 0"
        class="validation-error"
      >
        (needs to be at least 6 characters)
      </p>
      <input
        type="text"
        minlength="Enter Name (minimum length of 6 characters)"
        placeholder="Name..."
        name="username"
        [(ngModel)]="username"
      />
      <p>Address:</p>
      <p
        *ngIf="address.length < 8 && address.length > 0"
        class="validation-error"
      >
        (needs to be at least 8 characters)
      </p>
      <input
        type="text"
        placeholder="Enter Address (minimum length of 8 characters)"
        name="address"
        [(ngModel)]="address"
      />
      <p>Credit Card Number:</p>
      <p
        *ngIf="cardNumber !== 0 && cardNumber < 100000000000000"
        class="validation-error"
      >
        (needs to be at least 16 characters)
      </p>
      <input
        type="number"
        minlength="16"
        placeholder="Enter Card # (minimum length of 16 digits)"
        name="cardNumber"
        [(ngModel)]="cardNumber"
      />
      <br />
      <input
        class="btn"
        [disabled]="
          items.length === 0 ||
          username.length < 6 ||
          address.length < 8 ||
          cardNumber === null ||
          cardNumber < 100000000000000
        "
        type="Submit"
        value="Place Order"
      />
    </form>
  </div>
</div>
