.form-margin {
  margin-bottom: 12px;
  text-align: left;
}

.cart-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 64px;
}

.cart-panel {
  margin-left: 50px;
  margin-right: 50px;
  background-color: aliceblue;
  padding: 40px;
  border: solid 1px grey;
}

.empty-cart-message {
  display: flex;
  justify-content: center;
  margin-top: 64px;
}

.btn {
  background-color: #33b5e5;
  color: white;
  padding: 6px;
  font-size: 102%;
  border: none;
  width: 315px;
}

.btn:disabled {
  background-color: rgb(215, 213, 213);
}

p {
  margin-left: 20px;
}

input {
  width: 300px;
  margin: 20px;
  padding: 5px;
}
