<div class="product-container">
  <a routerLink="products/{{ product.id }}">
    <img class="product-image" [src]="product.url" />
  </a>

  <p>{{ product.name }}</p>
  <p>${{ product.price }}</p>
  <p>{{ product.description }}</p>
  <form #form="ngForm" required (ngSubmit)="onSubmit()">
    <select
      form="ngForm"
      class="select-input"
      name="quantity"
      [(ngModel)]="quantity"
    >
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
    </select>
    <br />
    <input type="submit" value="Add to Cart" class="btn" />
  </form>
</div>
