img {
  border-radius: 10px;
  width: 320px;
}

.select-input {
  width: 108px;
  margin-bottom: 8px;
}

.detail-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.detail-item {
  margin-left: 128px;
  margin-right: 128px;
}

.back-link {
  margin-top: 20px;
  color: #33b5e5;
  padding: 6px;
  font-size: 102%;
  border: none;
}
